{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block titulo %}
    {{accion}} {% blocktrans trimmed %} Perfil {% endblocktrans %}
{% endblock titulo %}

{% block contenido %}
    <h1>{{accion}} {% blocktrans trimmed %} Perfil {% endblocktrans %} </h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <input class="btn btn-success" type="submit" value="{% blocktrans trimmed %} Guardar {% endblocktrans %}">
        <a class="btn btn-danger" href="{% url 'bienvenida' %}">{% blocktrans trimmed %} Regresar {% endblocktrans %}</a>
    </form>
{% endblock contenido %}
